@using BizLogic.Planning
@using BizData.Entities
@model Plan

@{

}

@*@Html.Partial("PlanPartial",Model.PlanID)*@

<div class="main">
    <h1>Plan de @Model.TipoPlan del @Model.Año</h1>
    <form method="post">
        <table id="hidden">
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> Mano de Obra </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th> Accion Constructiva </th>
                <th> Inmueble </th>
                <th> Objeto de Obra </th>
                <th> Especialidad</th>
                <th> Cantidad</th>
                <th> u/m</th>
                <th> CUC</th>
                <th> CUP </th>
                <th> </th>
            </tr>
            @if (Model.AccionesConstructivas != null)
            {
                @foreach (var item in Model.AccionesConstructivas)
                {
                    <tr>
                        <td> @item.Nombre</td>
                        <td> @item.ObjetoObra.Inmueble.Direccion </td>
                        <td> @item.ObjetoObra.Nombre</td>
                        <td> @item.Especialidad.Tipo </td>
                        <td> @item.ManoObra.Cantidad </td>
                        <td> @item.ManoObra.Cantidad </td>
                        <td> @item.ManoObra.PrecioCUC </td>
                        <td> @item.ManoObra.PrecioCUP</td>
                        <td> <button class="button" type="submit" value="See/@item.AccionConstructivaID" name="button"> <span>Ver materiales</span> </button> </td>
                    </tr>
                }
            }
        </table>
    </form>
</div>

@*<script>

    var nombres = @Html.Raw(Json.Serialize(Model.InmublesUO));
    console.log(nombres);
    if (nombres.length == 0)
    {

        var main = document.getElementsByClassName("main")[0];
        var label = document.createElement("label");
        label.innerHTML = "*No tienes Inmuebles";
        label.style.borderRadius = "2px";
        label.style.color = "lightblue";
        main.appendChild(label);
        var hidden = document.getElementById("hidden");
        hidden.hidden = 1;
    }
    else
    {
        var main = document.getElementById("hidden");
        main.hidden = 0;
    }
    //autocomplete(document.getElementById("myInput"), nombres);
</script>*@
