@using BizLogic.Planning
@using BizData.Entities
@model Plan
@{
    Layout = "AdminLayout";
    ViewData["TiTle"] = "Estado del Plan";
}
@*@Html.Partial("PlanPartial",Model.PlanID)*@
<div class="main">
    <h1>Plan de @Model.TipoPlan del @Model.Año</h1>
    <form method="post">
        <table id="hidden">

            <tr>
                <th> Accion Constructiva </th>
                <th> Inmueble </th>
                <th> Objeto de Obra </th>
                <th> Especialidad</th>
                <th> u/m</th>
                <th> Cantidad</th>
                <th> CUC</th>
                <th> CUP </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            @if (Model.AccionesConstructivas != null)
            {
                @foreach (var item in Model.AccionesConstructivas)
                {
                    <tr>
                        <td> @item.Nombre</td>
                        <td> @item.ObjetoObra.Inmueble.Direccion </td>
                        <td> @item.ObjetoObra.Nombre</td>
                        <td> @item.Especialidad.Tipo </td>
                        <td> @item.ManoObra.UnidadMedida.Nombre </td>
                        <td> @item.ManoObra.Cantidad </td>
                        <td> @item.ManoObra.PrecioCUC </td>
                        <td> @item.ManoObra.PrecioCUP</td>
                        <td> <a class="button" href="/Admin/EditAC?ac_id=@item.AccionConstructivaID"> <span>Modificar</span></a></td>
                        <td> <a class="button" href="/Admin/Materiales_AccCons?AccionConstructivaID=@item.AccionConstructivaID&CantidadMO=0&PlanID=0&ObjetoObraID=0&EspecialidadID=0" > <span>Materiales</span> </a> </td>
                        <td> <button class="button" name="button" value="@item.AccionConstructivaID/@Model.PlanID"><span>Eliminar</span></button></td>
                    </tr>
                }
            }
        </table>
        <a class="button" href="/Admin/AddAccionCons?AccionConstructivaID=0&CantidadMO=0&PlanID=@Model.PlanID&ObjetoObraID=0&EspecialidadID=0"> <span>Añadir Acción Constructiva</span></a>
        
    </form>
</div>
