@using BizLogic.Planning
@using BizData.Entities
@model Plan

@{
    Layout = "AdminLayout";
    ViewData["TiTle"] = "Estado del Plan";
}

@*@Html.Partial("PlanPartial",Model.PlanID)*@

<div class="main">
    <style>
       table
       {
           width:100%;
       }
    </style>
    <h1>Plan de @Model.TipoPlan del @Model.Año</h1>
    <form method="post">
        <table id="hidden">
          
            <tr>
                <th> Accion Constructiva </th>
                <th> Inmueble </th>
                <th> Objeto de Obra </th>
                <th> Especialidad</th>
                <th> u/m</th>
                <th> Cantidad</th>
                <th> CUC</th>
                <th> CUP </th>
                <th> </th>
            </tr>
            @if (Model.AccionesConstructivas != null)
            {
                @foreach (var item in Model.AccionesConstructivas)
                {
                    <tr>
                        <td> @item.Nombre</td>
                        <td> @item.ObjetoObra.Inmueble.Direccion </td>
                        <td> @item.ObjetoObra.Nombre</td>
                        <td> @item.Especialidad.Tipo </td>
                        <td> @item.ManoObra.UnidadMedida.Nombre </td>
                        <td> @item.ManoObra.Cantidad </td>
                        <td> @item.ManoObra.PrecioCUC </td>
                        <td> @item.ManoObra.PrecioCUP</td>
                        @*<td> @Html.ActionLink("Editar", "EditInmueble", "Admin", new InmuebleCommand { Id = item.InmuebleID, Direccion = item.Direccion })</td>*@
                        <td> <button class="button" type="submit" value="@item.AccionConstructivaID" name="button"> <span>Ver materiales</span> </button> </td>
                    </tr>
                }
            }
        </table>

        <button class="button" type="submit" value="Add/@Model.PlanID" name="button" style="resize"> <span>Añadir Acción Constructiva</span> </button> 

    </form>
</div>
