@using BizLogic.Reports;
@model ReportOneViewModel;
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Reporte Uno";

    var printProvincia = true;
    var printInmueble = true;
    var printObra = true;
}

<div class="main">
    <CENTER>
         <h5> Reporte Uno </h5>
        <br>

        <form method="post">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label> Año </label>
                    <input asp-for="Año" min="2019" class="form-control col-md-3" />
                    <span asp-validation-for="Año" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label> Tipo de Plan </label>
                    <select class="form-control col-md-5" asp-for="TipoPlan">
                        @foreach (var item in Model.TiposPlan)
                        {
                            <option value=@item> @item</option>
                        }
                    </select>
                </div>

                <input type="submit" value="Generar" />
            </div>
        </form>

        @if (Model.Report != null)
        {
            <br>
            <br>

            <div>
                @if (Model.TipoPlan == "Reparación")
                {
                    <h5> Plan de Reparaciones </h5>
                }
                else
                {
                    <h5> Plan de Mantenimiento Constructivo </h5>
                }
                <h5> Alcance de las acciones constructivas por Inmueble/Objeto de Obra</h5>
                <h5 id="test"> Año: @Model.Report.año </h5>
            </div>

            <table id="myTable">
                <tr>
                    <th rowspan="2"> Unidad Organizativa </th>
                    <th rowspan="2"> Inmueble </th>
                    <th rowspan="2"> Objeto de obra </th>
                    <th rowspan="2"> Especialidad/Actividad </th>
                    <th rowspan="2"> u/m </th>
                    <th rowspan="2"> Cantidad </th>
                    <th colspan="3"> Importe Total </th>
                    <th colspan="3"> Importe Mano de Obra </th>
                    <th colspan="3"> Importe Materiales </th>
                </tr>
                <tr>
                    <th> MT </th>
                    <th> CUC </th>
                    <th> CUP </th>
                    <th> MT </th>
                    <th> CUC </th>
                    <th> CUP </th>
                    <th> MT </th>
                    <th> CUC </th>
                    <th> CUP </th>
                </tr>

                @foreach (var unidad in @Model.Report.unidades)
                {
                    if (unidad.inmuebles.Count() != 0)
                    {
                        foreach (var inmueble in unidad.inmuebles)
                        {
                            if (inmueble.objetos.Count() != 0)
                            {
                                foreach (var obj in inmueble.objetos)
                                {
                                    foreach (var especialidad in obj.especialidades)
                                    {
                                        if (printProvincia)
                                        {
                                            <tr>
                                                <td> @unidad.Nombre </td>
                                                <td> @inmueble.Nombre </td>
                                                <td> @obj.Nombre </td>
                                                <td> @especialidad.Nombre </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.manoObraTotalCUP + especialidad.materialesTotalCUC + especialidad.materialesTotalCUP) </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.materialesTotalCUC) </td>
                                                <td> @(especialidad.manoObraTotalCUP + especialidad.materialesTotalCUP)</td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.manoObraTotalCUP) </td>
                                                <td> @especialidad.manoObraTotalCUC </td>
                                                <td> @especialidad.manoObraTotalCUP </td>
                                                <td> @(especialidad.materialesTotalCUC + especialidad.materialesTotalCUP) </td>
                                                <td> @especialidad.materialesTotalCUC </td>
                                                <td> @especialidad.materialesTotalCUP </td>
                                            </tr>

                                            printProvincia = false;
                                            printInmueble = false;
                                            printObra = false;
                                        }
                                        else if (printInmueble)
                                        {
                                            <tr>
                                                <td> </td>
                                                <td> @inmueble.Nombre </td>
                                                <td> @obj.Nombre </td>
                                                <td> @especialidad.Nombre </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.manoObraTotalCUP + especialidad.materialesTotalCUC + especialidad.materialesTotalCUP) </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.materialesTotalCUC) </td>
                                                <td> @(especialidad.manoObraTotalCUP + especialidad.materialesTotalCUP) </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.manoObraTotalCUP) </td>
                                                <td> @especialidad.manoObraTotalCUC </td>
                                                <td> @especialidad.manoObraTotalCUP </td>
                                                <td> @(especialidad.materialesTotalCUC + especialidad.materialesTotalCUP) </td>
                                                <td> @especialidad.materialesTotalCUC </td>
                                                <td> @especialidad.materialesTotalCUP </td>
                                            </tr>

                                            printInmueble = false;
                                            printObra = false;
                                        }
                                        else if (printObra)
                                        {
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> @obj.Nombre </td>
                                                <td> @especialidad.Nombre </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.manoObraTotalCUP + especialidad.materialesTotalCUC + especialidad.materialesTotalCUP) </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.materialesTotalCUC) </td>
                                                <td> @(especialidad.manoObraTotalCUP + especialidad.materialesTotalCUP) </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.manoObraTotalCUP) </td>
                                                <td> @especialidad.manoObraTotalCUC </td>
                                                <td> @especialidad.manoObraTotalCUP </td>
                                                <td> @(especialidad.materialesTotalCUC + especialidad.materialesTotalCUP) </td>
                                                <td> @especialidad.materialesTotalCUC </td>
                                                <td> @especialidad.materialesTotalCUP </td>
                                            </tr>

                                            printObra = false;
                                        }
                                        else
                                        {
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> @especialidad.Nombre </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.manoObraTotalCUP + especialidad.materialesTotalCUC + especialidad.materialesTotalCUP) </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.materialesTotalCUC) </td>
                                                <td> @(especialidad.manoObraTotalCUP + especialidad.materialesTotalCUP) </td>
                                                <td> @(especialidad.manoObraTotalCUC + especialidad.manoObraTotalCUP) </td>
                                                <td> @especialidad.manoObraTotalCUC </td>
                                                <td> @especialidad.manoObraTotalCUP </td>
                                                <td> @(especialidad.materialesTotalCUC + especialidad.materialesTotalCUP) </td>
                                                <td> @especialidad.materialesTotalCUC </td>
                                                <td> @especialidad.materialesTotalCUP </td>
                                            </tr>
                                        }

                                        @foreach (var accion in especialidad.acciones)
                                        {
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> @accion.Nombre </td>
                                                <td> @accion.unidadMedida</td>
                                                <td> @accion.cantidad </td>
                                                <td> @(accion.manoObraCUC + accion.manoObraCUP + accion.materialesCUC + accion.materialesCUP) </td>
                                                <td> @(accion.manoObraCUC + accion.materialesCUC) </td>
                                                <td> @(accion.manoObraCUP + accion.materialesCUP) </td>
                                                <td> @(accion.manoObraCUC + accion.manoObraCUP) </td>
                                                <td> @accion.manoObraCUC </td>
                                                <td> @accion.manoObraCUP </td>
                                                <td> @(accion.materialesCUC + accion.materialesCUP) </td>
                                                <td> @accion.materialesCUC </td>
                                                <td> @accion.materialesCUP</td>
                                            </tr>
                                        }
                                    }

                                    if (obj.especialidades.Count() == 0)
                                    {
                                        if (printProvincia)
                                        {
                                            <tr>
                                                <td> @unidad.Nombre </td>
                                                <td> @inmueble.Nombre </td>
                                                <td> @obj.Nombre </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>

                                            printProvincia = false;
                                            printInmueble = false;
                                            printObra = false;
                                        }
                                        else if (printInmueble)
                                        {
                                            <tr>
                                                <td> </td>
                                                <td> @inmueble.Nombre </td>
                                                <td> @obj.Nombre </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>

                                            printInmueble = false;
                                            printObra = false;
                                        }
                                        else if (printObra)
                                        {
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> @obj.Nombre </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>

                                            printObra = false;
                                        }
                                    }

                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> TOTAL del objeto de obra </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> @(obj.manoObraTotalCUC + obj.manoObraTotalCUP + obj.materialesTotalCUC + obj.materialesTotalCUP) </td>
                                        <td> @(obj.manoObraTotalCUC + obj.materialesTotalCUC) </td>
                                        <td> @(obj.manoObraTotalCUP + obj.materialesTotalCUP) </td>
                                        <td> @(obj.manoObraTotalCUC + obj.manoObraTotalCUP) </td>
                                        <td> @obj.manoObraTotalCUC </td>
                                        <td> @obj.manoObraTotalCUP </td>
                                        <td> @(obj.materialesTotalCUC + obj.materialesTotalCUP) </td>
                                        <td> @obj.materialesTotalCUC </td>
                                        <td> @obj.materialesTotalCUP</td>
                                    </tr>

                                    printObra = true;
                                }

                                <tr>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> TOTAL del inmueble </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> @(inmueble.manoObraTotalCUC + inmueble.manoObraTotalCUP + inmueble.materialesTotalCUC + inmueble.materialesTotalCUP) </td>
                                    <td> @(inmueble.manoObraTotalCUC + inmueble.materialesTotalCUC) </td>
                                    <td> @(inmueble.manoObraTotalCUP + inmueble.materialesTotalCUP) </td>
                                    <td> @(inmueble.manoObraTotalCUC + inmueble.manoObraTotalCUP) </td>
                                    <td> @inmueble.manoObraTotalCUC </td>
                                    <td> @inmueble.manoObraTotalCUP </td>
                                    <td> @(inmueble.materialesTotalCUC + inmueble.materialesTotalCUP) </td>
                                    <td> @inmueble.materialesTotalCUC </td>
                                    <td> @inmueble.materialesTotalCUP</td>
                                </tr>

                                printInmueble = true;
                            }
                        }

                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> TOTAL Unidad Organizativa </td>
                            <td> </td>
                            <td> </td>
                            <td> @(unidad.manoObraTotalCUC + unidad.manoObraTotalCUP + unidad.materialesTotalCUC + unidad.materialesTotalCUP) </td>
                            <td> @(unidad.manoObraTotalCUC + unidad.materialesTotalCUC) </td>
                            <td> @(unidad.manoObraTotalCUP + unidad.materialesTotalCUP) </td>
                            <td> @(unidad.manoObraTotalCUC + unidad.manoObraTotalCUP) </td>
                            <td> @unidad.manoObraTotalCUC </td>
                            <td> @unidad.manoObraTotalCUP </td>
                            <td> @(unidad.materialesTotalCUC + unidad.materialesTotalCUP) </td>
                            <td> @unidad.materialesTotalCUC </td>
                            <td> @unidad.materialesTotalCUP </td>
                        </tr>

                        printProvincia = true;
                    }
                }
            </table>
            
            <br>
            @Html.ActionLink("Exportar", "ExportReportOne", "Reports", new ExportReportOneViewModel { Año = Model.Año, TipoPlan = Model.TipoPlan })    
        }
    </CENTER>
</div>