@using BizLogic.Reports;
@model ReportFourViewModel
@{
    ViewData["Title"] = "Reporte Cuatro";
    Layout = "AdminLayout";

    var printUO = true;
    var printInmueble = true;
    var printObra = true;
}

<div class="main">
    <CENTER>
         <h5> Reporte Cuatro </h5>
        <br>

        <form method="post">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label> Año </label>
                    <input asp-for="Año" min="2019" class="form-control col-md-3" />
                    <span asp-validation-for="Año" class="text-danger"></span>
                </div>

                <input type="submit" value="Generar" />
            </div>
        </form>

        @if (Model.Report != null)
        {
            <br>
            <br>
            <div>
                <h5> Plan de Reparaciones y Mantenimiento Constructivo </h5>
                <h5> Listado de materiales por Inmueble</h5>
                <h5 id="test"> Año: @Model.Año </h5>
            </div>

            <table id="myTable">
                <tr>
                    <th rowspan="2"> Unidad Organizativa </th>
                    <th rowspan="2"> Inmueble </th>
                    <th rowspan="2"> Objeto de Obra </th>
                    <th rowspan="2"> Material</th>
                    <th rowspan="2"> u/m </th>
                    <th colspan="3"> Cantidades </th>
                </tr>
                <tr>
                    <th> Rep. </th>
                    <th> Mtto. </th>
                    <th> Total </th>
                </tr>

                @foreach (var unidad in Model.Report.unidades)
                {
                    if (unidad.inmuebles.Count() != 0)
                    {
                        foreach (var inmueble in unidad.inmuebles)
                        {
                            foreach (var obj in inmueble.objetos)
                            {
                                foreach (var material in obj.materiales)
                                {
                                    if (printUO)
                                    {
                                    <tr>
                                        <td> @unidad.Nombre </td>
                                        <td> @inmueble.Nombre </td>
                                        <td> @obj.Nombre </td>
                                        <td> @material.Nombre </td>
                                        <td> @material.unidadMedida </td>
                                        <td> @material.reparaciones </td>
                                        <td> @material.mantenimiento </td>
                                        <td> @(material.mantenimiento + material.reparaciones) </td>
                                    </tr>

                                        printUO = false;
                                        printInmueble = false;
                                        printObra = false;
                                    }
                                    else if (printInmueble)
                                    {
                                    <tr>
                                        <td> </td>
                                        <td> @inmueble.Nombre </td>
                                        <td> @obj.Nombre </td>
                                        <td> @material.Nombre </td>
                                        <td> @material.unidadMedida </td>
                                        <td> @material.reparaciones </td>
                                        <td> @material.mantenimiento </td>
                                        <td> @(material.mantenimiento + material.reparaciones) </td>
                                    </tr>

                                        printInmueble = false;
                                        printObra = false;
                                    }
                                    else if (printObra)
                                    {
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> @obj.Nombre </td>
                                        <td> @material.Nombre </td>
                                        <td> @material.unidadMedida </td>
                                        <td> @material.reparaciones </td>
                                        <td> @material.mantenimiento </td>
                                        <td> @(material.mantenimiento + material.reparaciones) </td>
                                    </tr>

                                        printObra = false;
                                    }
                                    else
                                    {
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> @material.Nombre </td>
                                        <td> @material.unidadMedida </td>
                                        <td> @material.reparaciones </td>
                                        <td> @material.mantenimiento </td>
                                        <td> @(material.mantenimiento + material.reparaciones) </td>
                                    </tr>
                                    }
                                }

                                if (obj.materiales.Count() == 0)
                                {
                                    if (printUO)
                                    {
                                    <tr>
                                        <td> @unidad.Nombre </td>
                                        <td> @inmueble.Nombre </td>
                                        <td> @obj.Nombre </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>

                                        printUO = false;
                                        printInmueble = false;
                                        printObra = false;
                                    }
                                    else if (printInmueble)
                                    {
                                    <tr>
                                        <td> </td>
                                        <td> @inmueble.Nombre </td>
                                        <td> @obj.Nombre </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>

                                        printInmueble = false;
                                        printObra = false;
                                    }
                                    else if (printObra)
                                    {
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> @obj.Nombre </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>

                                        printObra = false;
                                    }
                                }

                                printObra = true;
                            }

                            printInmueble = true;
                        }

                        printUO = true;
                    }
                }
            </table>

            <br>
            @Html.ActionLink("Exportar", "ExportReportFour", "Reports", new ExportReportFourViewModel { Año = Model.Año }) 
        }
    </CENTER>
</div>