@using BizData.Entities;
@{
    ViewData["Title"] = "Reporte Uno";
    var uos = (UnidadOrganizativa[])(ViewData.Eval("uos"));
    var uos_view = (bool[])(ViewData.Eval("uos_view"));
    var unidades = (dynamic)(ViewData.Eval("report.unidades"));

    var printProvincia = true;
    var printInmueble = true;
    var printObra = true;
}

<div class="sidenav col-md-3" id="sidebarReport">
    <div>
        <span class="label">Año</span>
        <input type="number" class="border-0 col-md-1" min="2019" />
    </div>
    
    <div>

        @for (int i = 0; i < uos.Length; i++)
        {
            <div>
                @if (uos_view[i])
                {
                    <button class="dropdown-btn border-0" style="color:red">@uos[i].Nombre</button>
                }
                else
                {
                    <button class="dropdown-btn border-0">@uos[i].Nombre</button>
                }

                <div class="dropdown-container">
                    @foreach (var inm in uos[i].Inmuebles)
                    {
                        <button>@inm.Direccion</button>
                    }
                </div>
            </div>
        } 
     </div>
</div>

<div class="main">
    <table id="myTable">
        <tr>
            <th>
                Unidad Organizativa
            </th>
            <th>
                Inmueble
            </th>
            <th>
                Objeto de obra
            </th>
            <th>
                Especialidad/Actividad
            </th>
            <th>
                u/m
            </th>
            <th>
                mat
            </th>
            <th> </th>
            <th>
                Importe Total
            </th>
            <th> </th>
            <th> </th>
            <th>
                Importe Mano de Obra
            </th>
            <th> </th>
            <th> </th>
            <th>
                Importe Materiales
            </th>
            <th> </th>
        </tr>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th>
                MT
            </th>
            <th>
                CUC
            </th>
            <th>
                CUP
            </th>
            <th>
                MT
            </th>
            <th>
                CUC
            </th>
            <th>
                CUP
            </th>
            <th>
                MT
            </th>
            <th>
                CUC
            </th>
            <th>
                CUP
            </th>
        </tr>
 
        @foreach (var unidad in unidades)
        {
            foreach (var inmueble in unidad.inmuebles)
            {
                foreach (var obj in inmueble.objetos)
                {
                    foreach (var especialidad in obj.especialidades)
                    {
                        if (printProvincia)
                        {
                            <tr>
                                <td> @unidad.Nombre </td>
                                <td> @inmueble.Nombre </td>
                                <td> @obj.Nombre </td>
                                <td> @especialidad.Nombre </td>
                                <td> </td>
                                <td> </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.manoObraTotalCUP + @especialidad.materialesTotalCUC + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.materialesTotalCUC </td>
                                <td> @especialidad.manoObraTotalCUP + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.manoObraTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC </td>
                                <td> @especialidad.manoObraTotalCUP </td>
                                <td> @especialidad.materialesTotalCUC + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.materialesTotalCUC </td>
                                <td> @especialidad.materialesTotalCUP </td>
                            </tr>

                            printProvincia= false;
                        }
                        else if (printInmueble)
                        {
                            <tr>
                                <td> </td>
                                <td> @inmueble.Nombre </td>
                                <td> @obj.Nombre </td>
                                <td> @especialidad.Nombre </td>
                                <td> </td>
                                <td> </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.manoObraTotalCUP + @especialidad.materialesTotalCUC + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.materialesTotalCUC </td>
                                <td> @especialidad.manoObraTotalCUP + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.manoObraTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC </td>
                                <td> @especialidad.manoObraTotalCUP </td>
                                <td> @especialidad.materialesTotalCUC + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.materialesTotalCUC </td>
                                <td> @especialidad.materialesTotalCUP </td>
                            </tr>

                            printInmueble= false;
                        }
                        else if (printObra)
                        {
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> @obj.Nombre </td>
                                <td> @especialidad.Nombre </td>
                                <td> </td>
                                <td> </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.manoObraTotalCUP + @especialidad.materialesTotalCUC + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.materialesTotalCUC </td>
                                <td> @especialidad.manoObraTotalCUP + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.manoObraTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC </td>
                                <td> @especialidad.manoObraTotalCUP </td>
                                <td> @especialidad.materialesTotalCUC + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.materialesTotalCUC </td>
                                <td> @especialidad.materialesTotalCUP </td>
                            </tr>

                            printObra= false;
                        }
                        else
                        {
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> @especialidad.Nombre </td>
                                <td> </td>
                                <td> </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.manoObraTotalCUP + @especialidad.materialesTotalCUC + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.materialesTotalCUC </td>
                                <td> @especialidad.manoObraTotalCUP + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.manoObraTotalCUC + @especialidad.manoObraTotalCUP</td>
                                <td> @especialidad.manoObraTotalCUC </td>
                                <td> @especialidad.manoObraTotalCUP </td>
                                <td> @especialidad.materialesTotalCUC + @especialidad.materialesTotalCUP </td>
                                <td> @especialidad.materialesTotalCUC </td>
                                <td> @especialidad.materialesTotalCUP</td>
                            </tr>
                        }

                        @foreach (var accion in especialidad.acciones)
                        {
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> @accion.Nombre; </td>
                                <td> @accion.unidadMedida</td>
                                <td> @accion.cantidad </td>
                                <td> @accion.manoObraCUC + @accion.manoObraCUP + @accion.materialesCUC + @accion.materialesCUP </td>
                                <td> @accion.manoObraCUC + @accion.materialesCUC </td>
                                <td> @accion.manoObraCUP + @accion.materialesCUP </td>
                                <td> @accion.manoObraCUC + @accion.manoObraCUP</td>
                                <td> @accion.manoObraCUC </td>
                                <td> @accion.manoObraCUP </td>
                                <td> @accion.materialesCUC + @accion.materialesCUP </td>
                                <td> @accion.materialesCUC </td>
                                <td> @accion.materialesCUP</td>
                            </tr>
                        }
                    }

                     <tr>
                         <td> </td>
                         <td> </td>
                         <td> </td>
                         <td> "TOTAL del objeto de obra" </td>
                         <td> </td>
                         <td> </td>
                         <td> @obj.manoObraCUC + @obj.manoObraCUP + @obj.materialesCUC + @obj.materialesCUP </td>
                         <td> @obj.manoObraCUC + @obj.materialesCUC </td>
                         <td> @obj.manoObraCUP + @obj.materialesCUP </td>
                         <td> @obj.manoObraCUC + @obj.manoObraCUP</td>
                         <td> @obj.manoObraCUC </td>
                         <td> @obj.manoObraCUP </td>
                         <td> @obj.materialesCUC + @obj.materialesCUP </td>
                         <td> @obj.materialesCUC </td>
                         <td> @obj.materialesCUP</td>
                    </tr>

                    printObra= true;
                }

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> "TOTAL del inmueble" </td>
                    <td> </td>
                    <td> </td>
                    <td> @inmueble.manoObraCUC + @inmueble.manoObraCUP + @inmueble.materialesCUC + @inmueble.materialesCUP </td>
                    <td> @inmueble.manoObraCUC + @inmueble.materialesCUC </td>
                    <td> @inmueble.manoObraCUP + @inmueble.materialesCUP </td>
                    <td> @inmueble.manoObraCUC + @inmueble.manoObraCUP</td>
                    <td> @inmueble.manoObraCUC </td>
                    <td> @inmueble.manoObraCUP </td>
                    <td> @inmueble.materialesCUC + @inmueble.materialesCUP </td>
                    <td> @inmueble.materialesCUC </td>
                    <td> @inmueble.materialesCUP</td>
                </tr>

                printInmueble= true;
            }

            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> "TOTAL Unidad Organizativa" </td>
                <td> </td>
                <td> </td>
                <td> @unidad.manoObraCUC + @unidad.manoObraCUP + @unidad.materialesCUC + @unidad.materialesCUP </td>
                <td> @unidad.manoObraCUC + @unidad.materialesCUC </td>
                <td> @unidad.manoObraCUP + @unidad.materialesCUP </td>
                <td> @unidad.manoObraCUC + @unidad.manoObraCUP</td>
                <td> @unidad.manoObraCUC </td>
                <td> @unidad.manoObraCUP </td>
                <td> @unidad.materialesCUC + @unidad.materialesCUP </td>
                <td> @unidad.materialesCUC </td>
                <td> @unidad.materialesCUP </td>
           </tr>

            printProvincia = true; 
        }

    </table>        
</div>


<style>
    sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 160px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }

/* The navigation menu links */
    .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        background-color: rgb(209,36,33);
        display: block;
    }

/* When you mouse over the navigation links, change their color */
        .sidenav a:hover, .dropdown-btn:hover {
            color: lightslategray;
        }


/* Add an active class to the active dropdown button */
    .active {
        background-color: red;
        color: white;
    }

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        background-color: #ffffff;
        padding-left: 8px;
    }

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
</style>

<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    } 
</script >